#NewGameTitle {
    font-family: "Century Gothic";
    font-size: 25px;
    margin-left: 15px;
    font-weight: bold;
}

#Head {
    display: flex;
    height: 50px;
    justify-items: center;
    align-items: center;
}



#Board{
    display: grid;
    grid-template-columns : repeat(10,1fr) ;
    grid-template-rows: repeat(10, 100fr);
    height: 100vh;

}

#BoardLeft{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 11;
    background-color: antiquewhite;
}

#BoardRight{
    grid-row: 1;
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 11;
    background-color: beige;

}

#ContainerHead {
    grid-row: 1;
    grid-column-start: 5;
    grid-column-end: 7;
    margin-top: 20px;
    height: 50px;
    justify-items: center;
}

#CanvasNewGame {
    margin-left: 5px;
}

#TitlePlayer1 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}
#TitlePlayer2 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 8;
    grid-column-end: 10;
}
.TitlePlayer {
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: bold;
}

#scoreRow{
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 10;
    display: grid;
    grid-template-columns : repeat(101,1fr) ;
    resize: none;
}
#scorePlayer1, #scorePlayer2{
    background-color: transparent;
    border: none;

}
#scorePlayer1 {
    grid-column-start: 25;
    width: 150px;
    height: 60px;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 50px;
}
#dice {
    grid-column-start: 55;
    grid-column-end: 75;
}

#scorePlayer2 {
    grid-column-start: 86;
    width: 150px;
    height: 60px;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 50px;
}

#currentRow{
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 10;
    display: grid;
    grid-template-columns : repeat(101,1fr) ;
}

#rollButton{
    display: flex;
    grid-column-start: 52;
    grid-column-end: 70;
    height: 40px;
    width: 250px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: lighter;
    font-family: Arial;
    align-items: center;
}

#holdButton{
    display: flex;
    margin-top: 10px;
    grid-column-start: 55;
    grid-column-end: 70;
    height: 40px;
    width: 250px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: lighter;
    font-family: Arial;
    align-items: center;
}
#imgRollButton{
    margin-right: 10px;
    width: 35px;
    height: 35px;
}
#imgholdButton{
    width: 35px;
    height: 35px;
}

#interScorePlayer1,#interScorePlayer2{
    display: flex;
    border-bottom : none ;
    border-left : none;
    border-right : none;
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    justify-content: center;
    padding-left:50px;
    padding-top: 10px;
    width: 70px;

}

#interScorePlayer1{
    grid-column-start: 20;
}

#interScorePlayer2{
    grid-column-start: 80;
}

#scoreInterContainer1, #scoreInterContainer2{
    display: flex;
    border-style: solid;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    resize: none;
}



.currentText{
    display: flex;
    justify-content: center;
    border-bottom: black;
}